@import './styles/tokens.scss';

// 页面全局背景
page {
  background-color: $color-canvas;
  color: $color-text;
  font-family: system-ui, "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: $text-body;
  line-height: $line-height-normal;
}
